<tr>
    <td class="terminus-arrow">{{terminus_arrow}}</td>
    <td><a class="terminus-label terminus-link" href="{{departure_live_link}}">{{terminus_name}}</a></td>
    <td><time class="departure-time" datetime="{{departure_datetime}}"><a class="terminus-link" href="{{departure_live_link}}" tabindex="-1">{{departure_time}}</a></time></td>
    <td class="departure-countdown-value-cell" style="display: none;"><a class="departure-countdown-value terminus-link" href="{{departure_live_link}}" role="timer" tabindex="-1">??:??</a></td>
</tr>
