<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff6319">
    <meta property="og:description" content="{{page_description}}" />
    <meta name="description" content="{{page_description}}" />
    <title>{{page_title}}</title>
    <meta property="og:title" content="{{page_title}}" />
    <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "{{site_name}}",
      "url" : "{{page_url_root}}"
    }
    </script>
    <link rel="preload" href="https://www.hsl.fi/fonts/784131/6C5FB8083F348CFBB.css" as="style" />
    <link rel="stylesheet" href="https://www.hsl.fi/fonts/784131/6C5FB8083F348CFBB.css" />
    <meta property="og:image" content="{{page_url_root}}/og-image-{{lang}}.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="885" />
    <meta property="og:image:height" content="575" />
    <meta property="og:image:alt" content="{{og_image_alt}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{page_url}}" />
    <meta name="google-site-verification" content="uxqN7INh86C8FINa1nY3Sujz0WBiD5hwLBLFALbG4as" />
    <link rel="canonical" href="{{page_url}}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff6319">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    {{alternate_links}}
    <style>
        :root {
            /* darker than default HSL black #333333 to be better on orange */
            --text-color: #222222;
            /* HSL palette error message color */
            --error-message-red: rgb(220, 4, 81);
            /* --metro-orange: #ca4000; */
            --metro-orange: #ff6319;
            --basic-margin: 5px;
            --basic-margin-large: 16px;
        }
        body {
            margin: 0;
            /* padding: 20px; */ /* Add some padding for better visibility */
            font-family: "Gotham Rounded A","Gotham Rounded B",Arial,Georgia,sans-serif;
            font-variant-numeric: tabular-nums;
            color: var(--text-color);
            background-color: #ffffff;
        }
        header, footer {
            text-align: center;
            background-color: var(--metro-orange);
            padding: var(--basic-margin-large);
        }
        #updated-date-wrapper {
            margin-top: var(--basic-margin-large);
        }
        nav ul {
            padding: 0;
            margin-top: var(--basic-margin-large);
            margin-bottom: 0;
        }
        nav li {
            display: inline;
        }
        nav li + li::before {
            content: " | ";
        }
        nav a, footer a {
            color: var(--text-color);
        }
        h1 {
            margin: 0 auto;
            max-width: 300px;
        }
        #metro-stations {
            margin: 0 auto;
            width: fit-content;
        }
        #site-out-of-date-container {
            text-align: center;
            color: var(--error-message-red);
            margin: var(--basic-margin-large) var(--basic-margin) 0;
            max-width: 270px;
            font-weight: bold;
        }
        #find-nearest-station-container {
            text-align: center;
            margin: var(--basic-margin-large) var(--basic-margin) 0;
            max-width: 270px;
        }
        #find-nearest-station-button {
            color: var(--text-color);
            font-size: 1.2rem;
            font-family: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 5px 10px;
            cursor: pointer;
        }
        #find-nearest-station-button-icon {
            margin-right: 10px;
        }
        .location-message {
            margin-top: var(--basic-margin);
        }
        .location-error-message {
            color: var(--error-message-red);
        }
        #location-not-saved-info {
            margin-top: var(--basic-margin);
            font-size: 0.8rem;
        }
        .station-container {
            display: flex;
            max-width: 270px;
            height: fit-content;
            margin: var(--basic-margin-large) var(--basic-margin) 0;
        }

        .station-info {
            flex: 1;
            margin-left: var(--basic-margin);
            /* top margin is cy of circle minus radius, to center the station name text */
            /* reduced by 1px to look better */
            margin-top: 2px;
        }

        .station-name {
            margin: 0;
            /* line height is 2 * circle radius to center the text */
            line-height: 24px;
        }
        .station-name-link, .terminus-link {
            color: inherit;
            text-decoration: inherit;
        }
        .station-name-link:hover, .terminus-link:hover {
            text-decoration: underline;
        }

        .station-departures-info {
            margin-top: 8px;
        }
        .station-departures-container {
            line-height: 1.1em;
            width: 100%;
        }
        .terminus-arrow-col {
            width: 16px;
        }
        .terminus-arrow svg {
            text-align: center;
            width: 14px;
            margin-top: 2px;
        }
        .terminus-arrow > svg > polyline, .terminus-arrow > svg > path {
            stroke: var(--metro-orange);
        }
        .terminus-arrow > svg > rect {
            fill: none;
        }
        .departure-time, .departure-countdown-value-cell {
            text-align: center;
            margin-left: 4px;
        }
        .departure-time, .departure-countdown-value-cell:not(.departure-gone) {
            /* Gotham XNarrow doesn't seem to have tabular numbers, so let's use just sans-serif instead... */
            /* font-family: "Gotham XNarrow SSm A", "Gotham XNarrow SSm B", Arial, Georgia, sans-serif; */
            font-family: sans-serif;
        }
        .departure-countdown-value {
            color: var(--error-message-red);
        }
        .terminus-label { margin-left: 2px; }

        .map-piece-container {
            width: 30px; /* this should match the viewport-width of the SVG to be correct */
            min-width: 30px;
            height: 60px;
        }
        #map-piece-container-fork {
            position: absolute;
            z-index: -1;
        }
        .map-piece-container-in-fork {
            width: 55px;
            min-width: 55px;
        }
        .map-piece-container > svg {
            width: 100%;
            height: auto;
        }
        .map-piece-container > svg > circle {
            stroke: var(--metro-orange);
            stroke-width: 5px;
            fill: #ffffff;
        }
        .map-piece-container > svg > polyline {
            stroke-width: 5px;
            stroke: var(--metro-orange);
            fill: none;
        }

        #updated-time {
            margin: 26px auto 0;
            display: block;
        }

        footer {
            margin-top: var(--basic-margin-large);
        }
        #footer-content-wrapper {
            max-width: 500px;
            margin: 0 auto;
        }
        footer h2 {
            margin: 0;
        }
        footer h3 {
            margin-top: 32px;
            margin-bottom: 0;
        }
        footer p {
            margin-top: var(--basic-margin-large);
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<header>
    <h1>{{page_heading}}</h1>
    <div id="updated-date-wrapper"><time id="updated-date" datetime="{{updated_date}}">{{updated_date_fmt}}</time></div>
    {{navbar}}
</header>
<main id="metro-stations">
<div id="site-out-of-date-container" style="display: none;">
    <p>
    {{site_out_of_date_message}}
    </p>
</div>
{{nearest_station_finding}}
<div class="station-container">
    <div class="map-piece-container" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 150">
            <polyline points="{{svg_circle_x}},{{svg_circle_x}} {{svg_circle_x}},150" />
            <circle cx="{{svg_circle_x}}" cy="{{svg_circle_x}}" r="{{svg_circle_radius}}"/>
        </svg>
    </div>
    {{kivenlahti_station_info}}
</div>
{{stations_mid}}
<div id="map-piece-container-fork" class="map-piece-container map-piece-container-in-fork" style="margin-left: var(--basic-margin);" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 40">
        <polyline points="{{svg_circle_x}},-10 {{svg_circle_x}},5 {{svg_circle_x2}},30 {{svg_circle_x2}},150" stroke-width="10" fill="none" class="fork-disabled-segment" />
        <polyline points="{{svg_circle_x}},0 {{svg_circle_x}},60" />
    </svg>
</div>
{{stations_fork_mid}}

<div class="station-container">
    <div class="map-piece-container map-piece-container-in-fork" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 130">
            <circle cx="{{svg_circle_x2}}" cy="{{svg_circle_x}}" r="{{svg_circle_radius}}"/>
            <polyline points="{{svg_circle_x}},0 {{svg_circle_x}},150" />
        </svg>
    </div>
    {{mellunmaki_station_info}}
</div>
{{stations_vuosaari_mid}}
<div class="station-container">
    <div class="map-piece-container" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 60">
            <circle cx="{{svg_circle_x}}" cy="{{svg_circle_x}}" r="{{svg_circle_radius}}"/>
        </svg>
    </div>
    {{vuosaari_station_info}}
</div>
</main>
<footer>
    <div id="footer-content-wrapper">
    <h2>{{faq_title}}</h2>
    {{faq_items}}
    <small><time id="updated-time" datetime="{{updated_datetime}}">{{updated_time_label}} {{updated_time}}</time></small>
    <p><small>{{copyright_info}}</small></p>
    </div>
</footer>
</body>
<script type="text/javascript">
    function checkSiteUpToDate() {
        const updatedDate = new Date(document.getElementById("updated-time").dateTime);
        const t = new Date();
        const delta_days = (t - updatedDate) / (1000 * 60 * 60 * 24);
        if (delta_days >= 1) {
            document.getElementById("site-out-of-date-container").style.display = "block";
            document.getElementById("site-out-of-date-days-since-update").textContent = Math.floor(delta_days);
            if (delta_days < 2) {
                document.getElementById("site-out-of-date-day-plural").style.display = "none";
            }
        }
        if(delta_days >= 3) {
            document.getElementById("site-out-of-date-feedback-message").style.display = "";
        }
    }
    checkSiteUpToDate();

    function formatDepartureTime(ms) {
        if (ms > 1000 * 60 * 60) {
            return ">1h";
        } else if (ms < 0) {
            return "{{metro_gone_label}}";
        }
        const seconds = Math.floor(ms / 1000);
        const minutes = Math.floor(seconds / 60);
        const remainingSeconds = seconds % 60;
        const formattedMinutes = minutes < 10 ? '0' + minutes : minutes;
        const formattedSeconds = remainingSeconds < 10 ? '0' + remainingSeconds : remainingSeconds;
        return formattedMinutes + ':' + formattedSeconds;
    }
    function updateDepartureTimes() {
        const currentTime = new Date();
        const departureInfoElements = document.querySelectorAll(".station-departures-info");

        departureInfoElements.forEach(departureInfoElement => {
            departureInfoElement.querySelectorAll(".departure-time").forEach(
                departureTimeElement => {
                    const departureTime = new Date(departureTimeElement.dateTime);
                    // difference in milliseconds
                    const timeDifference = departureTime - currentTime;
                    const remainingAmountElem = departureTimeElement
                        .parentElement
                        .parentElement
                        .querySelector(".departure-countdown-value");

                    if (timeDifference < 0) {
                        remainingAmountElem.classList.add("departure-gone");
                    }
                    remainingAmountElem.textContent = formatDepartureTime(timeDifference);
                }
            )
        });
    }
    updateDepartureTimes(); // Update departure times immediately
    // Time until the departures at each station, in milliseconds
    const timeUntilDepartures = Array.from(
        document.querySelectorAll(".departure-time")
    ).map(elem => {
        return (
            (new Date(elem.dateTime))
            -
            (new Date())
        );
    });
    const timeUntilFirstDepartureShouldBeDisplayed = Math.min.apply(
        Math,
        // Departure times should be displayed 1 hour beforehand
        timeUntilDepartures.map(t => t - 60 * 60 * 1000)
    );
    setTimeout(() => {
            // Un-hide countdown timers
            document.querySelectorAll(".terminus-label-abbreviated, .departure-countdown-value-cell").forEach(elem => {
                elem.style.display = "";
            });
            // Show only abbreviated terminus labels
            document.querySelectorAll(".terminus-label-full").forEach(elem => {
                elem.style.display = "none";
            })
            const lastDepartureTime = Math.max.apply(Math, timeUntilDepartures);
            if (lastDepartureTime > 0) {
                // Not all trains have departed yet, update countdown every second.
                setInterval(updateDepartureTimes, 1000);
            }
        },
        Math.max(timeUntilFirstDepartureShouldBeDisplayed, 0)
    );

    // Finding nearest station
    function deg2rad(deg) {
        return Math.PI / 180 * deg;
    }
    function haversineDistance(lat1, lon1, lat2, lon2) {
        // Great-circle distance between two points.
        // Note that this is not the distance in kilometers,
        // but rather on the unit sphere, since we don't care
        // about the absolute distance.
        const sin = Math.sin;
        const cos = Math.cos;
        return Math.asin(Math.sqrt(
            sin(0.5 * deg2rad(lat2 - lat1)) ** 2
            +
            sin(0.5 * deg2rad(lon2 - lon1)) ** 2 * cos(deg2rad(lat1)) * cos(deg2rad(lat2))
        ));
    }
    function findNearestStation(lat, lon) {
        return Array.from(document.querySelectorAll(".station-info"))
            .map(elem => {
                return {
                    e: elem,
                    d: haversineDistance(lat, lon, elem.dataset.lat, elem.dataset.lon)
                }
            })
            .reduce((best, curr) => (curr.d < best.d) ? curr : best)
            .e;
    }
    function jumpToNearestStation(pos) {
        const nearest = findNearestStation(pos.coords.latitude, pos.coords.longitude);
        history.pushState(null, null, "#" + nearest.querySelector(".station-name").id);
        nearest.scrollIntoView({behavior: "smooth"});
    }
    const location_searching_box = document.querySelector("#location-searching");
    function queryLocationAndJumpToNearestStation() {
        ["location-denied", "location-unavailable"].forEach(id => {
            const e = document.querySelector("#" + id);
            e.style.display = "none";
        });
        location_searching_box.style.display = "";
        navigator.geolocation.getCurrentPosition(
            pos => {
                // Have to hide searching info box before jumping, otherwise
                // the top of the window will be off by the height of the box
                location_searching_box.style.display = "none";
                jumpToNearestStation(pos);
            },
            err => {
                location_searching_box.style.display = "none";
                const id = {
                    1: "location-denied",
                    2: "location-unavailable",
                    3: "location-unavailable",
                }[err.code];
                document.querySelector("#" + id).style.display = "";
            }
        );
    }
</script>
</html>

