<div class="station-container">
    <div class="map-piece-container" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 {{svg_viewbox_height}}">
            <polyline points="{{svg_circle_x}},{{svg_circle_x}} {{svg_circle_x}},150" />
            <circle cx="{{svg_circle_x}}" cy="{{svg_circle_x}}" r="{{svg_circle_radius}}"/>
        </svg>
    </div>
	{{station_info}}
</div>