<div class="station-container">
    <div class="map-piece-container map-piece-container-in-fork" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 120">
            <polyline points="{{svg_circle_x2}},15 {{svg_circle_x2}},150" />
            <polyline points="{{svg_circle_x}},0 {{svg_circle_x}},150" />
            <circle cx="{{svg_circle_x2}}" cy="{{svg_circle_x}}" r="{{svg_circle_radius}}"/>
        </svg>
    </div>
    {{station_info}}
</div>
