<div class="station-info" data-lat="{{latitude}}" data-lon="{{longitude}}">
	<h2 class="station-name" id="{{station_anchor}}"><a class="station-name-link" href="#{{station_anchor}}">{{station_name}}</a></h2>
	<table class="station-departures-container station-departures-info">
		<colgroup>
			<col class="terminus-arrow-col" />
		</colgroup>
		{{departure_info_rows}}
	</table>
</div>